<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{message}}</h1>
        <h3>Addition :{{sum}}</h3>
        <h3>Substraction :{{sub}}</h3>
        <h3>Multiplication :{{mul}}</h3>
    </body>
</html>